<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
      <img src="../../../assets/layout/images/2023-12-29_13-04_companyLogoUrl.png" alt="logo">
      <span>Join Creative</span>
  </a>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    <legend class="legend__sair" (click)="logout()">Sair</legend>
      <button class="p-link layout-topbar-button" (click)="logout()">
          <i class="pi pi-fw pi-sign-in"></i>
          <span>Sair</span>
      </button>
  </div>
</div>
